@font-face {
    font-family: "metropolis";
    src: url("../assets/fonts/Metropolis/Metropolis-Bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "metropolis";
    src: url("../assets/fonts/Metropolis/Metropolis-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "metropolis";
    src: url("../assets/fonts/Metropolis/Metropolis-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}